<!--
Launch file for DT3
Authors: Rehan Khalid, Duncan Cameron, Chidinma Onumadu
Purpose: Opens the RViz, AMCL, Map server, Turtlebot3 & Navigation_code
-->

<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find eced3901-2022-team05)/maps/lab4map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="node_start_delay" default="60.0"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find eced3901-2022-team05)/launch/eced3901_amcl.launch"/>

  <!-- move_base -->
  <include file="$(find eced3901-2022-team05)/launch/eced3901_movebase.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find eced3901-2022-team05)/rviz/eced3901_navigation.rviz"/>
  </group>

  <!-- Running the Navigation code for the DT3 Waypoint -->
    <node pkg="eced3901-2022-team05" type="eced3901-2022-team05" name="simple_navigation_goals"/>

</launch>
